.navbar ul li a:hover{
  
  background: #f2f2f2;
  cursor: pointer;
  border-radius: 5%;
}

/*<style type="text/css" >
            .scroll--car{
  top: 50% !important;
}
        </style>*/

/*<a class="carousel-control-next scroll--car" href="#carouselExampleCaptions" role="button" data-slide="next">*/